<div class="container">
  <h1>Create a recipe</h1>
  <form method="POST" action="/new">
    <label for="name">Recipe name:</label>
    <input type="text" class="form-control" name="name" required="true" id="name">

    <label for="description">Recipe description:</label>
    <input type="text" class="form-control" name="description" required="true" id="description">

    <label for="prep_time">Recipe prep-time:</label>
    <input type="text" class="form-control" name="prep_time" required="true" id="prep_time">

    <input type="submit" value="Submit" class="btn btn-primary mt3">
  </form>
</div>

